<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav class="app-sidenav mat-elevation-z10" #sidenav [opened]="!isScreenSmall()" [mode]="isScreenSmall()? 'over':'side'">
    <mat-toolbar color="primary">Sort Filters</mat-toolbar>
    <!-- <mat-nav-list>
        <a mat-list-item (click)="filter(link.url)" *ngFor="let link of links"> {{ link.name }} </a>
     </mat-nav-list> -->
     <mat-accordion>
      <mat-expansion-panel *ngFor="let link of links" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{link.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button color="primary" (click)="filter(link.url,'asc')">{{link.option1}}</button>
        <button mat-button color="primary" (click)="filter(link.url,'desc')">{{link.option2}}</button>
      </mat-expansion-panel>
      </mat-accordion>
  </mat-sidenav>
  <div class="app-sidenav-content">
      <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
      <div class="wrapper">
          <router-outlet></router-outlet>
      </div>
      
  </div>
</mat-sidenav-container>